.Weather-app {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #f5f5ae;
  border-radius: 5px;
}

footer {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 1px;
}

footer a {
  text-decoration: none;
  color: rgb(153, 38, 122);
}
